extends javascript

snippet createC
var ${1:/* Class Var Name */} = React.createClass({
	${2:// class object}
});
endsnippet

snippet react
var React = require('react');

module.exports = React.createClass({
	render: function() {
		return (
			${1:<h1>Example</h1>}
		);
	}
});
endsnippet
